.boton-menu {
  background-color: transparent;
  padding-right: 0;
  border: 0;
  align-items: center;
  color: #eff7ff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}

.numerito {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.boton-menu.boton-carrito.disabled {
  cursor: default;
}
